<ion-view title="魔靈列表">
<ion-nav-buttons side="right">
  <button class="button" ng-click="openModal()">
    <img src="img/top-right.png" alt="" class="top-btn">
  </button>
</ion-nav-buttons>

<ion-nav-buttons side="left">
  <img src="img/top-left.png" alt="">
</ion-nav-buttons>

  <ion-content class="has-header padding list-bg">
    <!--<div ng-repeat="(prop, ignoredValue) in pets[0]" ng-init="filter[prop]={}">
      <div ng-repeat="opt in getOptionsFor(prop)" style="display: inline-block; min-width: 25%;">
        <b><input type="checkbox" ng-model="filter[prop][opt]">&nbsp;{{opt}}</b>
      </div>
      <hr/>
    </div>
    <!--<div>稀有度：<input type="checkbox" ng-model=""> 1星</div>!-->
    <!--<div class="row">
      <ul>
        <li class="col" ng-repeat="p in filtered=(pets | filter:filterByProperties)"
        style="cursor: pointer"
            ng-click="go('/tab/pet/' + p.id)">
          <img ng-src="{{p.imgUrl}}">
        </li>
      </ul>
  </div>!-->
  <!-- Number of results: {{filtered.length}} !-->

  <div class="row">
      <ul>
        <li class="col" ng-repeat="p in filtered=(pets | filter:filterBySelected)"
        style="cursor: pointer"
            ng-click="go('/tab/pet/' + p.id)">
          <img ng-src="{{p.imgUrl}}">
        </li>
      </ul>
  </div>
  </ion-content>
</ion-view>


<script id="modal.html" type="text/ng-template">
      <div class="modal" ng-controller="ModalCtrl">
        <div ng-click="hideModal()" style="position:absolute; top:-40px; right:0; z-index:10;"><img src="img/close.png"></div> 
        <ion-content>
          <div class="padding" style="padding-top:20px; color:#fff">
          <div>
          <div style="padding: 5px; text-align: center; background:#35190a; margin-top:10px;
           -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">稀有度</div>

          <div class="row attrSection" style="padding-left:0; padding-right:0;">
            <div ng-repeat="star in getStar()" style="padding:1px">
                <ion-checkbox ng-model="filter[star]" ng-click="clickBtn()" ng-class="{'activeBtn': active == true}">
                    <img ng-show="star=='1星'" ng-src="img/1stars-btn.png" >
                    <img ng-show="star=='2星'" ng-src="img/2stars-btn.png" >
                    <img ng-show="star=='3星'" ng-src="img/3stars-btn.png" >
                    <img ng-show="star=='4星'" ng-src="img/4stars-btn.png" >
                    <img ng-show="star=='5星'" ng-src="img/5stars-btn.png" >
                    <img ng-show="star=='6星'" ng-src="img/6stars-btn.png" >
                </ion-checkbox>
            </div>
          </div>
          

        </div>
        <div>
          <div style="padding: 5px; text-align: center; background:#35190a; margin-top:10px;
          -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">類型</div>

          <div class="row attrSection" style="padding-left:0; padding-right:0;">
            <div  ng-repeat="type in getType()" style="padding:1px">
                <ion-checkbox ng-model="filter[type]" ng-click="clickBtn()" ng-class="{'activeBtn': active == true}" >
                    <img ng-show="type=='防禦'" ng-src="img/def-btn.png" >
                    <img ng-show="type=='攻擊'" ng-src="img/atk-btn.png" >
                    <img ng-show="type=='速度'" ng-src="img/spd-btn.png" >
                    <img ng-show="type=='輔助'" ng-src="img/aul-btn.png" >
                    <img ng-show="type=='體力'" ng-src="img/vit-btn.png" >
                </ion-checkbox>
            </div>
          </div>
        </div>

        <div>
          <div style="padding: 5px; text-align: center; background:#35190a; margin-top:10px;
          -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">屬性</div>
          <div class="row attrSection" style="padding-left:0; padding-right:0;">
            <div ng-repeat="attr in getAttr()" style="padding:1px">
                <ion-checkbox ng-model="filter[attr]" ng-click="clickBtn()" ng-class="{'activeBtn': active == true}">
                    <img ng-show="attr=='水屬性'" ng-src="img/water-btn.png" >
                    <img ng-show="attr=='火屬性'" ng-src="img/fire-btn.png" >
                    <img ng-show="attr=='風屬性'" ng-src="img/wind-btn.png" >
                    <img ng-show="attr=='光屬性'" ng-src="img/light-btn.png" >
                    <img ng-show="attr=='暗屬性'" ng-src="img/dark-btn.png" >
                </ion-checkbox>
            </div>
          </div>
        </div>  
        </ion-content>
      </div>
    </script>
